.playerInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 20px;
}

.playerInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.playerGrade {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
