.talentScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  height: 100vh;
  color: #fff;
}

.talentWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  color: #fff;
}

.input{
    padding: 10px;
}
.btn{
    background: purple;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}